.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homecontain{
    width: auto;
    margin-left: 30px;
}

.home .homecontain h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 50, 197);
}

.home .homecontain p{
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: lightblue;
}

.homecontain button{
    background-color: lightskyblue;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.homecontain button:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media only screen and (max-width:600px) {
    .home {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homecontain {
        margin-left: 0;
        border-radius: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: skyblue;
        color: whitesmoke;
        padding: 20px; 
        margin-bottom: 20px; 
    }
    
    .home .homecontain h1 {
        font-size: 40px;
        line-height: 1.2; 
        margin: 15px 0px;
        color: white;
    }

    .home .homecontain p {
        font-size: 30px;
        color: white;
        margin-top: 10px;
    }

    .homecontain button {
       background-color: white;
       color: lightblue;
       margin-bottom: 30px;
       padding: 10px 20px;
    }
}
